auxiliares/__pycache__/listas.cpython-313.pyc
version/__pycache__/version.cpython-313.pyc
auxiliares/__pycache__/validación_numeros.cpython-313.pyc
productos/__pycache__/fn_buscar_producto.cpython-313.pyc
productos/__pycache__/fn_mostrar_producto.cpython-313.pyc
